@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/dm-sans-v5-latin-regular.81b5c59d.eot");
  /* IE9 Compat Modes */
  src: local("DM Sans Regular"), local("DMSans-Regular"), url("/dm-sans-v5-latin-regular.81b5c59d.eot?#iefix") format("embedded-opentype"), url("/dm-sans-v5-latin-regular.8d44908d.woff2") format("woff2"), url("/dm-sans-v5-latin-regular.e5cf4a87.woff") format("woff"), url("/dm-sans-v5-latin-regular.30b0dfbe.ttf") format("truetype"), url("/dm-sans-v5-latin-regular.ead03e5e.svg#DMSans") format("svg");
  /* Legacy iOS */
}
/* dm-sans-500 - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: url("/dm-sans-v5-latin-500.96e54c25.eot");
  /* IE9 Compat Modes */
  src: local("DM Sans Medium"), local("DMSans-Medium"), url("/dm-sans-v5-latin-500.96e54c25.eot?#iefix") format("embedded-opentype"), url("/dm-sans-v5-latin-500.9524903e.woff2") format("woff2"), url("/dm-sans-v5-latin-500.170a9973.woff") format("woff"), url("/dm-sans-v5-latin-500.bed1da24.ttf") format("truetype"), url("/dm-sans-v5-latin-500.29a15e3c.svg#DMSans") format("svg");
  /* Legacy iOS */
}
/* dm-sans-700 - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/dm-sans-v5-latin-700.450b51d9.eot");
  /* IE9 Compat Modes */
  src: local("DM Sans Bold"), local("DMSans-Bold"), url("/dm-sans-v5-latin-700.450b51d9.eot?#iefix") format("embedded-opentype"), url("/dm-sans-v5-latin-700.69b1af9a.woff2") format("woff2"), url("/dm-sans-v5-latin-700.ae5018c5.woff") format("woff"), url("/dm-sans-v5-latin-700.e007fc9a.ttf") format("truetype"), url("/dm-sans-v5-latin-700.9bd9af8d.svg#DMSans") format("svg");
  /* Legacy iOS */
}
/* titan-one-regular - latin */
@font-face {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  src: url("/titan-one-v8-latin-regular.5ecfba8a.eot");
  /* IE9 Compat Modes */
  src: local("Titan One"), local("TitanOne"), url("/titan-one-v8-latin-regular.5ecfba8a.eot?#iefix") format("embedded-opentype"), url("/titan-one-v8-latin-regular.c7773417.woff2") format("woff2"), url("/titan-one-v8-latin-regular.7f3e05d4.woff") format("woff"), url("/titan-one-v8-latin-regular.289eb43c.ttf") format("truetype"), url("/titan-one-v8-latin-regular.6dce54aa.svg#TitanOne") format("svg");
  /* Legacy iOS */
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::befor {
  box-sizing: inherit;
}

body {
  color: #000000;
  background-color: #fafafa;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0.04em;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.title {
  margin-bottom: 30px;
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 730px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1052px;
  }
}

.page-header {
  background-color: #ffb8ca;
}
@media screen and (max-width: 420px) {
  .page-header .container {
    overflow: hidden;
  }
}

.nav {
  position: relative;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .nav {
    padding-top: 37px;
    display: flex;
  }
}

.nav-bar {
  align-items: center;
  padding-top: 6px;
}
@media screen and (min-width: 768px) {
  .nav-bar {
    padding-top: 37px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-bar {
    padding: 0;
  }
}

.nav-bar .button-buy {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-bar .button-buy {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 100px;
  }
}

.menu {
  z-index: 9999999;
}
@media screen and (max-width: 1199.5px) {
  .menu {
    position: fixed;
    width: 250px;
    height: 100%;
    top: 0;
    right: 0;
    text-align: center;
    background-color: #e17992;
    filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
    transform: translate(100%);
    transition: transform 500ms linear;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    transform: translate(0) !important;
  }
}

.menu.is-open {
  display: block;
  transform: translate(0);
}

.menu__top {
  padding-top: 60px;
  padding-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .menu__top {
    display: none;
  }
}

.main-nav {
  display: block;
  text-align: left;
}
@media screen and (min-width: 1200px) {
  .main-nav {
    display: flex;
  }
}

.menu__item {
  border: 1px solid #e18298;
}
@media screen and (min-width: 1200px) {
  .menu__item {
    border: none;
    margin-right: 35px;
  }
  .menu__item:last-child {
    margin-right: 0;
  }
}

.menu__link {
  padding: 12px 21px;
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .menu__link {
    padding: 12px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .menu__link {
    padding: 0;
  }
}

.current {
  color: #d41443;
}

.menu-button {
  z-index: 9999;
  display: inline-flex;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-button {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-button {
    display: none;
  }
}
.menu-button--close {
  position: absolute;
  left: 208px;
  top: 23px;
}

.button-buy {
  display: inline-block;
  text-align: center;
  padding: 13px 37px;
  border-radius: 22px;
  color: #d41443;
  background-color: #ffffff;
  font-weight: 700;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-buy:hover, .button-buy:focus {
  background-color: #ecebeb;
}
@media screen and (min-width: 1200px) {
  .button-buy {
    position: absolute;
    right: 0;
  }
}

.menu__top .button-buy {
  padding: 15px 60px;
}
@media screen and (min-width: 768px) {
  .menu__top .button-buy {
    padding: 15px 50px;
  }
}

.button-buy svg {
  margin-left: 13px;
}

.header__button {
  padding: 7px 15px;
  display: flex;
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 22px;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  background-color: #d41443;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__button--white {
  background-color: #ffffff;
  color: #d41443;
}
.header__button--white:hover, .header__button--white:focus {
  background-color: #ecebeb;
}
@media screen and (min-width: 1200px) {
  .header__button {
    padding: 11px 25px;
    font-size: 14px;
    line-height: 18px;
  }
}

.main {
  position: relative;
  z-index: 99;
}
@media screen and (min-width: 768px) {
  .main {
    margin-bottom: 19px;
  }
}
@media screen and (min-width: 1200px) {
  .main {
    margin-bottom: 56px;
  }
}

.header__title {
  position: relative;
  width: 220px;
  margin: 0;
  margin-bottom: 19px;
  font-family: "Titan One", cursive;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .header__title {
    width: 162px;
    font-size: 22px;
    line-height: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .header__title {
    margin-bottom: 25px;
    width: 277px;
    font-size: 38px;
    line-height: 44px;
  }
}
.header__title--red {
  font-size: 48px;
  line-height: 46px;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .header__title--red {
    font-size: 34px;
    line-height: 31px;
  }
}
@media screen and (min-width: 1200px) {
  .header__title--red {
    font-size: 58px;
    line-height: 52px;
  }
}

.header__content {
  position: relative;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 446px;
}
@media screen and (min-width: 768px) {
  .header__content {
    min-height: 312px;
  }
}
@media screen and (min-width: 1200px) {
  .header__content {
    min-height: 578px;
  }
}

.header__content--1 {
  display: flex;
  justify-content: space-between;
}

.header__item:not(:last-child) {
  margin-right: 8px;
}

.icecream {
  position: absolute;
  bottom: 0;
  left: 110px;
}
@media screen and (min-width: 768px) {
  .icecream {
    left: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .icecream {
    left: 480px;
  }
}

.circle {
  bottom: 76px;
  left: 0;
  position: absolute;
  width: 345px;
  height: 345px;
  background-color: #ffa5ba;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .circle {
    left: 260px;
    bottom: 45px;
    width: 324px;
    height: 324px;
  }
}
@media screen and (min-width: 1200px) {
  .circle {
    width: 538px;
    height: 538px;
    left: 360px;
    bottom: 70px;
  }
}

.paragraph {
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  color: #ffffff;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .paragraph {
    font-size: 14px;
    line-height: 20px;
  }
}

.header__content--2 {
  align-items: flex-end;
  display: none;
}
@media screen and (min-width: 768px) {
  .header__content--2 {
    display: flex;
  }
}

.header__content--2 .paragraph {
  width: 114px;
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .header__content--2 .paragraph {
    width: 200px;
    margin-bottom: 20px;
  }
}

.btn {
  cursor: pointer;
  padding: 0;
  border: none;
  border-radius: 50%;
}

.cafes {
  display: none;
  text-align: right;
}
@media screen and (min-width: 768px) {
  .cafes {
    display: block;
    margin-right: 7px;
  }
}
@media screen and (min-width: 1200px) {
  .cafes {
    margin-right: 0;
  }
}
.cafes__item:first-child {
  margin-bottom: 13px;
}

.cafes span {
  position: relative;
  z-index: 999;
  font-family: "Titan One", cursive;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #d41443;
}
@media screen and (min-width: 1200px) {
  .cafes span {
    font-size: 46px;
    line-height: 53px;
  }
}

.ring {
  position: absolute;
  right: 0px;
  background-color: #ffffff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
@media screen and (min-width: 1200px) {
  .ring {
    width: 30px;
    height: 30px;
    right: -15px;
  }
}

.girl-img {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (min-width: 768px) {
  .girl-img {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .milk {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .arrow {
    width: 26px;
  }
}

.products.section {
  padding-top: 122px;
  padding-bottom: 98px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .products.section {
    padding-bottom: 112px;
  }
}
@media screen and (min-width: 1200px) {
  .products.section {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.secondary-title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}
@media screen and (min-width: 1200px) {
  .secondary-title {
    font-size: 30px;
  }
}

.primary.title {
  margin-bottom: 144px;
}
@media screen and (min-width: 768px) {
  .primary.title {
    font-size: 34px;
    margin-bottom: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .primary.title {
    font-size: 48px;
    margin-bottom: 260px;
  }
}

.products-list {
  margin-top: 150px;
}

@media screen and (min-width: 768px) {
  .products-list {
    display: flex;
    flex-wrap: wrap;
  }
}
.product-title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 22px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .product-title {
    font-size: 30px;
    line-height: 34px;
  }
}

.product-card {
  position: relative;
  display: inline-block;
  min-height: 485px;
  border-radius: 24px;
}
@media screen and (max-width: 767px) {
  .product-card {
    margin-bottom: 130px;
  }
  .product-card:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .product-card {
    width: calc((100% - 20px * 2) / 3);
  }
  .product-card:not(:last-child) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .product-card {
    width: calc((100% - 30px * 2) / 3);
    min-height: 525px;
  }
  .product-card:not(:last-child) {
    margin-right: 30px;
  }
}
.product-card:nth-child(1) {
  background-color: #ffb8ca;
}

.product-card:nth-child(2) {
  background-color: #f0d1a5;
}

.product-card:nth-child(3) {
  background-color: #c2e297;
}

.dots.item:not(:last-child) {
  margin-right: 4px;
}

.svg-dots {
  fill: #ffffff;
  width: 6px;
  height: 6px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dots .svg-dots:hover,
.dots .svg-dots:focus {
  fill: #d41443;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products-text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 176%;
  /* or 28px */
  text-align: center;
  color: #ffffff;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .products-text {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .products-text {
    padding-left: 46px;
    padding-right: 46px;
    font-size: 16px;
  }
}

.product-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
}
@media screen and (min-width: 768px) {
  .product-img {
    width: 220px;
  }
}
@media screen and (min-width: 1200px) {
  .product-img {
    top: -50px;
    width: 335px;
  }
}

.products-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 161px;
}
@media screen and (min-width: 768px) {
  .wrapper {
    margin-top: 152px;
  }
}

.how-made {
  padding-bottom: 97px;
  padding-top: 125px;
  background-color: #fff5f6;
  z-index: 0;
}
@media screen and (min-width: 320px) {
  .how-made {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    width: 100%;
    height: 100%;
    background-image: url(/sectionbgmobile@1x.0eaa1b99.png);
  }
}
@media screen and (min-width: 320px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (min-resolution: 2dppx) {
  .how-made {
    background-image: url(/sectionbgmobile@2x.ef022d0f.png);
  }
}
@media screen and (min-width: 320px) and (min-width: 1200px) {
  .how-made {
    background-image: url(/sectionbg@1x.ad9bc9d0.png);
  }
}
@media screen and (min-width: 320px) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (min-width: 1200px) and (min-resolution: 2dppx) {
  .how-made {
    background-image: url(/sectionbg@2x.3544dc94.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .how-made {
    background-image: none;
    padding-bottom: 130px;
    padding-top: 130px;
  }
}
@media screen and (min-width: 1200px) {
  .how-made {
    background-position: center;
    padding-bottom: 140px;
    padding-top: 125px;
  }
}

.how-made-caption {
  margin-bottom: 15px;
  margin-top: 0;
  font-family: "Titan One";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}
@media screen and (min-width: 768px) {
  .how-made-caption {
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .how-made-caption {
    font-size: 30px;
    line-height: 1.13;
  }
}

.how-made-title {
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  font-family: "Titan One";
  margin: 0 50px 26px 50px;
}
@media screen and (min-width: 768px) {
  .how-made-title {
    padding: 0;
    margin-bottom: 50px;
    font-size: 48px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 1200px) {
  .how-made-title {
    margin-bottom: 55px;
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 768px) {
  .how-made-box {
    width: calc((100% - 17px) / 2);
    margin-top: 50px;
    margin-left: 17px;
  }
}
@media screen and (min-width: 1200px) {
  .how-made-box {
    width: calc((100% - 74px) / 2);
    padding-top: 53px;
    margin-left: 74px;
  }
}

.how-made-thumb {
  margin-bottom: 39px;
}
@media screen and (min-width: 768px) {
  .how-made-thumb {
    margin-bottom: 66px;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .how-made-thumb {
    margin-bottom: 39px;
    display: flex;
    justify-content: space-between;
  }
}

.how-made-text {
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 47px;
  margin-top: 0;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .how-made-text {
    padding: 0;
    font-size: 14px;
    line-height: 1.78;
  }
}
@media screen and (min-width: 1200px) {
  .how-made-text {
    font-size: 16px;
    line-height: 1.75;
  }
}

.how-made-picture {
  margin-bottom: 46px;
}
@media screen and (min-width: 768px) {
  .how-made-picture {
    width: 340px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .how-made-picture {
    width: 516px;
  }
}

.how-made-button {
  display: inline-block;
  text-align: center;
  padding: 13px 37px;
  margin-left: 30px;
  min-width: 176px;
  color: #d41443;
  background: #ffffff;
  border-radius: 22px;
  font-weight: 700;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 17px;
}
.how-made-button:hover {
  background-color: #ecebeb;
}
@media screen and (min-width: 768px) {
  .how-made-button {
    margin-left: 0;
  }
}

.how-made-button .icon {
  margin-left: 14px;
  fill: #d41443;
}

.how-made-description {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 0;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: #907e82;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .how-made-description {
    padding: 0;
    background-image: none;
    font-size: 14px;
    line-height: 1.78;
  }
}
@media screen and (min-width: 1200px) {
  .how-made-description {
    font-size: 14px;
    line-height: 1.92;
  }
}

.description-point {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 0;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: #907e82;
}
@media screen and (min-width: 768px) {
  .description-point {
    padding: 0;
    padding-left: 17px;
    padding: 0;
    background-image: none;
    margin: 0;
    font-size: 14px;
    line-height: 1.78;
  }
}
@media screen and (min-width: 1200px) {
  .description-point {
    font-size: 14px;
    line-height: 1.92;
  }
}

@media screen and (min-width: 768px) {
  .made-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.made-item:before {
  display: inline-block;
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 16px;
}

.made-item:nth-child(1)::before {
  content: "";
  width: 33px;
  height: 50px;
  background-image: url(/icon1mobile@1x-min.e14e6fb4.png);
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .made-item:nth-child(1)::before {
    background-image: url(/icon1mobile@2x-min.eac7de1d.png);
  }
}
@media screen and (min-width: 768px) {
  .made-item:nth-child(1)::before {
    background-image: url(/icon_1tablet@1x-min.fa108e46.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .made-item:nth-child(1)::before {
    background-image: url(/icon_1tablet@2x-min.2a85d36d.png);
  }
}
@media screen and (min-width: 1200px) {
  .made-item:nth-child(1)::before {
    background-image: url(/icon1@1x.191154ce.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .made-item:nth-child(1)::before {
    background-image: url(/icon1@2x.b2664baf.png);
  }
}

.made-item:nth-child(2)::before {
  content: "";
  width: 50px;
  height: 50px;
  background-image: url(/icon2mobile@1x-min.7128891a.png);
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .made-item:nth-child(2)::before {
    background-image: url(/icon2mobile@2x-min.e446daa7.png);
  }
}
@media screen and (min-width: 768px) {
  .made-item:nth-child(2)::before {
    background-image: url(/icon_2tablet@1x-min.356379c9.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .made-item:nth-child(2)::before {
    background-image: url(/icon_2tablet@2x-min.3ecb9cf9.png);
  }
}
@media screen and (min-width: 1200px) {
  .made-item:nth-child(2)::before {
    background-image: url(/icon2@1x.d81df6b1.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .made-item:nth-child(2)::before {
    background-image: url(/icon2@2x.1198614b.png);
  }
}

.made-item:nth-child(3)::before {
  content: "";
  width: 44px;
  height: 50px;
  background-image: url(/icon3mobile@1x-min.470f4d67.png);
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .made-item:nth-child(3)::before {
    background-image: url(/icon3mobile@2x-min.ae7c3ae0.png);
  }
}
@media screen and (min-width: 768px) {
  .made-item:nth-child(3)::before {
    background-image: url(/icon_3tablet@1x-min.9d8f5a86.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .made-item:nth-child(3)::before {
    background-image: url(/icon_3tablet@2x-min.676efe00.png);
  }
}
@media screen and (min-width: 1200px) {
  .made-item:nth-child(3)::before {
    background-image: url(/icon3@1x.cbdb06c5.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .made-item:nth-child(3)::before {
    background-image: url(/icon3@2x.f1499816.png);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .made-item:not(:last-child) {
    margin-bottom: 38px;
  }
}
@media screen and (min-width: 768px) {
  .made-item {
    margin-bottom: 0;
  }
  .made-item:not(:last-child) {
    margin-right: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .made-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.made-size {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Titan One";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .made-size {
    margin-bottom: 13px;
  }
}
@media screen and (min-width: 1200px) {
  .made-size {
    margin-bottom: 15px;
  }
}

.made-format {
  display: inline-block;
  margin: 0;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .made-format {
    display: flex;
    text-align: start;
    justify-content: start;
    font-size: 14px;
    line-height: 1.71;
  }
}
@media screen and (min-width: 1200px) {
  .made-format {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02em;
  }
}

.gallery {
  margin: 0 auto;
  height: 122px;
  background-image: linear-gradient(0deg, white 60%, #fff5f6 60%);
}
@media screen and (min-width: 768px) {
  .gallery {
    height: 264px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    height: 430px;
  }
}

.gallery .gallery-image {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: 122px;
  margin: 0 auto;
  align-items: center;
  background-image: url(/home-pic5mob@1x.4c0a2a8d.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .gallery .gallery-image {
    background-image: url(/home-pic5mob@2x.d1705748.png);
  }
}
@media screen and (min-width: 768px) {
  .gallery .gallery-image {
    height: 264px;
    background-image: url(/home-pic5tab@1x.6cbefc06.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .gallery .gallery-image {
    background-image: url(/home-pic5tab@2x.14d1a8b6.png);
  }
}
@media screen and (min-width: 1200px) {
  .gallery .gallery-image {
    height: 430px;
    background-image: url(/home-pic5@1x.d20c3bdb.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .gallery .gallery-image {
    background-image: url(/home-pic5@2x.dbcbc386.jpg);
  }
}

.feedback-section {
  padding-top: 80px;
  padding-bottom: 186px;
  background-color: #ffffff;
  position: relative;
}
@media screen and (min-width: 768px) {
  .feedback-section {
    padding-top: 121px;
    padding-bottom: 219px;
  }
}
@media screen and (min-width: 1200px) {
  .feedback-section {
    padding-top: 123px;
    padding-bottom: 232px;
  }
}

.feedback-container {
  padding-right: 0px;
  padding-left: 0px;
  position: relative;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .feedback-container {
    padding-right: 39px;
    padding-left: 39px;
  }
}
@media screen and (min-width: 1200px) {
  .feedback-container {
    padding-right: 63px;
    padding-left: 63px;
  }
}

.feedback-slider h3 {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 37px;
  color: #000000;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .feedback-slider h3 {
    margin-bottom: 35px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .feedback-slider h3 {
    font-size: 20px;
  }
}

.feedback-photo {
  width: 85px;
  height: 85px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 29px;
  background-color: transparent;
  border-radius: 50%;
  border: transparent;
}
@media screen and (min-width: 768px) {
  .feedback-photo {
    margin-bottom: 19px;
  }
}
@media screen and (min-width: 1200px) {
  .feedback-photo {
    margin-bottom: 15px;
  }
}

.feedback-wrap {
  position: relative;
  background-color: #fafafa;
  background-position: 61px 28px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  padding-bottom: 30px;
  padding-top: 32px;
  padding-left: 50px;
  padding-right: 50px;
  z-index: -1;
  position: relative;
}
@media screen and (min-width: 768px) {
  .feedback-wrap {
    padding-right: 55px;
    padding-left: 55px;
  }
}

.feedback-text {
  padding: 20px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
}

.feedback-background {
  font-size: 12px;
  line-height: 30px;
  padding: 0px;
  text-align: center;
  z-index: -2;
  position: relative;
  background-image: url(/quotes.4d7be276.svg), repeating-linear-gradient(to bottom, #fafafa 0, #fafafa 28px, #e1e1e1 30px);
  background-repeat: no-repeat, no-repeat;
  background-position: 0px 0px, 25px 15px;
}
@media screen and (min-width: 768px) {
  .feedback-background {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .feedback-background {
    font-size: 16px;
  }
}
.feedback-background p {
  color: #000000;
  margin: 0;
  padding-right: 7px;
  padding-left: 7px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.04em;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .feedback-background p {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .feedback-background p {
    padding-right: 35px;
    padding-left: 35px;
  }
}

.feedback-dots {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .feedback-dots {
    margin-top: 24px;
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .feedback-dots {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.feedback-dot {
  background-color: #d41443;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: transparent;
}
.feedback-dot:not(:last-child) {
  margin-right: 10px;
}

.feedback-controls {
  display: flex;
  justify-content: center;
  text-align: center;
}

.feedback-controls-dot {
  width: 12px;
  height: 12px;
  background: #d9d9d9;
  border-radius: 50%;
  border: transparent;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.feedback-controls-dot:not(:last-child) {
  margin-right: 18px;
}
.feedback-controls-dot.active, .feedback-controls-dot:hover {
  background: #ffa5ba;
}

.feedback-controls-home {
  width: 13px;
  height: 12px;
  fill: #d41443;
  border: transparent;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.feedback-controls-home:not(:last-child) {
  margin-right: 18px;
}

.institution {
  margin: 0 auto;
  background-color: #fff5f6;
}
@media screen and (min-width: 768px) {
  .institution {
    display: flex;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .institution {
    margin: 0 auto;
    background-image: url(/sectionbg3@1x.9d96d61c.png);
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .institution {
    background-image: url(/sectionbg3@2x.3268b646.png);
  }
}

.branch {
  display: block;
  transform: translateY(-7%);
  margin: 0;
}
@media screen and (min-width: 768px) {
  .branch {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    transform: translateY(-14%);
  }
}
@media screen and (min-width: 1200px) {
  .branch {
    transform: translateY(-18%);
  }
}

.branch-office {
  margin: 0 auto;
  background-color: #ffffff;
  width: 100%;
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  padding: 43px 20px;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.3;
  color: #907e82;
  margin-bottom: 20px;
}
.branch-office:last-child {
  margin-bottom: 0px;
}
@media screen and (max-width: 767px) {
  .branch-office {
    max-width: 220px;
  }
}
@media screen and (min-width: 768px) {
  .branch-office {
    margin-bottom: 0;
  }
  .branch-office:first-child {
    margin-left: 0;
  }
  .branch-office:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .branch-office {
    width: calc((100% - 2 * 20px) / 3);
    padding: 50px 30px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .branch-office {
    width: calc((100% - 2 * 30px) / 3);
    padding: 50px 44px 60px 44px;
    font-size: 16px;
    line-height: 1.8;
  }
}

.branch-office-title {
  margin: 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 1, 9;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .branch-office-title {
    font-size: 16px;
    line-height: 1, 9;
  }
}

.branch-office-type {
  margin: 0;
  padding: 5px 30px;
  margin: 0;
  background-color: #f0d1a5;
  border-radius: 4px;
  width: max-content;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .branch-office-type {
    border-radius: 6px;
    margin-bottom: 30px;
    padding: 5px 20px;
  }
}

.foodtruck {
  background-color: #c2e297;
}

.city {
  margin: 0;
  color: #000000;
  margin-bottom: 10px;
  line-height: 1.9;
}
@media screen and (min-width: 768px) {
  .city {
    margin-bottom: 14px;
  }
}

.text {
  position: relative;
  margin: 0;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .text {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .text {
    margin-bottom: 32px;
  }
}

.working-day {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  line-height: 1.9;
}
@media screen and (min-width: 768px) {
  .working-day {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .working-day {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 32px;
  }
}
.working-day .branch-office-hours-weekend {
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .working-day .branch-office-hours-weekend {
    margin-top: 16px;
  }
}
.working-day .day {
  color: #000000;
}
.working-day .time {
  color: #ffa5ba;
}

.button-container {
  padding-bottom: 70px;
}
@media screen and (min-width: 768px) {
  .button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 61px;
  }
}
@media screen and (min-width: 1200px) {
  .button-container {
    padding-bottom: 68px;
  }
}

.button {
  display: block;
  margin: 0 auto;
  width: 162px;
  border-radius: 22px;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 14px 17px;
}
.button.locations {
  background-color: #d41443;
  color: #ffffff;
  fill: #ffffff;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .button.locations {
    margin: 0;
    width: 191px;
    margin-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .button.locations {
    width: 198px;
    margin-right: 15px;
  }
}
.button.franchise {
  color: #d41443;
  fill: #d41443;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .button.franchise {
    margin: 0;
    width: 174px;
  }
}
@media screen and (min-width: 1200px) {
  .button.franchise {
    width: 180px;
  }
}
.button .btn-icon {
  vertical-align: middle;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .button .btn-icon {
    margin-left: 12px;
  }
}

.franchise:hover {
  background-color: #ecebeb;
}

.page-footer {
  background-color: #fff5f6;
}

.page-footer .container {
  padding-top: 43px;
  padding-bottom: 43px;
}
@media screen and (min-width: 768px) {
  .page-footer .container {
    padding-top: 91px;
    padding-bottom: 91px;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer .container {
    padding-top: 97px;
    padding-bottom: 97px;
  }
}

.footer-small-title {
  width: 232px;
  margin-top: 0;
  margin-bottom: 17px;
  font-family: "Titan One";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #ffa5ba;
}
@media screen and (min-width: 768px) {
  .footer-small-title {
    margin-bottom: 16px;
    width: 340px;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .footer-small-title {
    margin-bottom: 15px;
    width: auto;
    font-size: 30px;
    line-height: 1.13;
  }
}

.footer-big-title {
  margin-top: 0;
  margin-bottom: 43px;
  width: 200px;
  font-family: "Titan One";
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .footer-big-title {
    margin-bottom: 0;
    width: 340px;
    font-size: 48px;
    line-height: 1.15;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .footer-big-title {
    width: auto;
    font-size: 58px;
    line-height: 1.13;
  }
}

.footer-social-links-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 46px;
}
@media screen and (min-width: 1200px) {
  .footer-social-links-list {
    margin-bottom: 50px;
  }
}

.footer-social-links-list .footer-social-links-item + .footer-social-links-item {
  margin-left: 28px;
}
@media screen and (min-width: 768px) {
  .footer-social-links-list .footer-social-links-item + .footer-social-links-item {
    margin-left: 30px;
  }
}

.footer-social-links-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fea5bb;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-links-list .link:hover, .footer-social-links-list .link:focus {
  background-color: #d41443;
}
@media screen and (min-width: 768px) {
  .footer-social-links-list .link {
    width: 34px;
    height: 34px;
  }
}

.footer-phone-text {
  margin: 0;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.86;
  /* or 22px */
  text-align: right;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .footer-phone-text {
    font-size: 14px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1200px) {
  .footer-phone-text {
    letter-spacing: 0.02em;
  }
}

.footer-phone-link {
  text-decoration: none;
  color: #d41443;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-phone-link:hover, .footer-phone-link:focus {
  color: #ffa5ba;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  border-top: 1px solid #e1e1e1;
  padding-top: 22px;
  padding-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .footer-copyright {
    padding-top: 29px;
    padding-bottom: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-copyright {
    padding-top: 9px;
    padding-bottom: 10px;
  }
}

.footer-copyright-text {
  margin: 0;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.52;
  /* or 21px */
  color: #907e82;
}
@media screen and (max-width: 767px) {
  .footer-copyright-text {
    width: 150px;
  }
}
@media screen and (min-width: 768px) {
  .footer-copyright-text {
    line-height: 1.86;
    letter-spacing: 0.02em;
  }
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */