
<section class="feedback-section">
  <div class="container">
    <div class="feedback-container">

      <!-- feedback 1 -->
      <div class="feedback-slider">
        <div class="feedback-photo">
          <img
            alt="User photo" 
            src="/images/testimonials1@1x.png"
            srcset="/images/testimonials1@2x.png 2x" 
          />
        </div>
        <div class="feedback-wrap">
          <div class="feedback-background">
            <p class="feedback-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <div class="feedback-dots">
          <span class="feedback-dot"></span>
          <span class="feedback-dot"></span>
          <span class="feedback-dot"></span>
        </div>
        <h3 class="feedback-testimonial">Emily, Los Angeles</h3>
      </div>

      <!-- feedback 2 -->
      <div class="feedback-slider visually-hidden">
        <div class="feedback-photo">
          <img
            alt="User photo" 
            src="/images/testimonials2@1x.png"
            srcset="/images/testimonials2@2x.png 2x" 
          />
        </div>
        <div class="feedback-wrap">
          <div class="feedback-background">
            <p class="feedback-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <div class="feedback-dots">
          <span class="feedback-dot"></span>
          <span class="feedback-dot"></span>
          <span class="feedback-dot"></span>
        </div>
        <h3 class="feedback-testimonial">Emily, Los Angeles</h3>
      </div>

      <!-- feedback 3 -->
      <div class="feedback-slider visually-hidden">
        <div class="feedback-photo">
          <img
            alt="User photo" 
            src="/images/testimonials3@1x.png"
            srcset="/images/testimonials3@2x.png 2x" 
          />
        </div>
        <div class="feedback-wrap">
          <div class="feedback-background">
            <p class="feedback-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <div class="feedback-dots">
          <span class="feedback-dot"></span>
          <span class="feedback-dot"></span>
          <span class="feedback-dot"></span>
        </div>
        <h3 class="feedback-testimonial">Emily, Los Angeles</h3>
      </div>

      <!-- dots - controls -->
      <div class="feedback-controls">
        <span class="feedback-controls"></span>
          <svg class="feedback-controls-home">
            <use href="./images/symbol-defs.svg#icon-home"></use>
          </svg>
        <span class="feedback-controls-dot"></span>
        <span class="feedback-controls-dot"></span>
      </div>
    </div>
  </div>
</section>

