<!DOCTYPE html>
<section class="gallery">
  <div class="conteiner">
    <!--<picture>
      <source
        srcset="./images/home-pic5@1x.jpg 1x, ./images/home_pic5@2x.jpg 2x"
        type="image/webp"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/home-pic5@1x.jpg 1x, ./images/home_pic5@2x.jpg 2x"
        type="image/webp"
        media="(min-width: 772px)"
      />
      <source
        srcset="./images/home-pic5@1x.jpg 1x, ./images/home_pic5@2x.jpg 2x"
        type="image/webp"
        media="(max-width: 771px)"
      />
      <img src="./images/home-pic5@1x.jpg" alt="" width="" />
    </picture>-->
  </div>
</section>
