 <section class="how-made section">
        <div class="conteiner">
             <h3 class="how-made-caption">tradition and love</h3> 
       <h2 class="title">how it’s made?</h2>
       <div class="how-made-box">
           <div class="made-thumb">
           <ul class="how-made-list list">
               <li class="how-made-item" >
       <p class="how-made-text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
    </li>
    <li class="how-made-item">
        <div class="made-box">
       <p class="how-made-description">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
    
       <span class="description-point">Aliquam erat volutpat. Aenean accumsan.</span> </p>
    </div>
    </li>
    </ul>
</div>
     <a href="">   
     <button class="how-made-button button"  type="submit">Read more</button>
    </a>
    </div>
    <div class="made">
    <ul class="made-list list">
        <li class="made-item">
            <p class="made-size">721</p>
            <p class="made-format">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>  
        </li>
        <li class="made-item">
            <p class="made-size">16kg</p>
            <p class="made-format">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="made-item">
            <p class="made-size">84</p>
            <p class="made-format">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
    </div>
    </div>
    </section>

