<section class="institution">
  <div class="container">
    <ul class="branch list">
      <li class="branch-office">
        <div class="branch-office-type">
          <p class="branch-office-title">Cafe</p>
        </div>
        <p class="city">Chicago</p>
        <p class="text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="working-day">
          <ul class="branch-office-hours list">
            <li class="day">Monday - Friday</li>
            <li class="time">06:00 AM - 10:00 PM</li>
          </ul>
          <ul class="branch-office-hours-weekend list">
            <li class="day">Saturday - Sunday</li>
            <li class="time">08:00 AM - 16:00 PM</li>
          </ul>
        </div>
        <ul class="branch-office-contacts list">
          <li>+61(0) 383 766 284</li>
          <li>noreply@envato.com</li>
        </ul>
      </li>

      <li class="branch-office">
        <div class="branch-office-type foodtruck">
          <p class="branch-office-title">FOODTRUCK</p>
        </div>
        <p class="city">Los Angeles</p>
        <p class="text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="working-day">
          <ul class="branch-office-hours list">
            <li class="day">Monday - Friday</li>
            <li class="time">06:00 AM - 10:00 PM</li>
          </ul>
          <ul class="branch-office-hours-weekend list">
            <li class="day">Saturday - Sunday</li>
            <li class="time">08:00 AM - 16:00 PM</li>
          </ul>
        </div>
        <ul class="branch-office-contacts list">
          <li>+61(0) 383 766 284</li>
          <li>noreply@envato.com</li>
        </ul>
      </li>

      <li class="branch-office">
        <div class="branch-office-type">
          <p class="branch-office-title">Cafe</p>
        </div>
        <p class="city">New York</p>
        <p class="text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="working-day">
          <ul class="branch-office-hours list">
            <li class="day">Monday - Friday</li>
            <li class="time">06:00 AM - 10:00 PM</li>
          </ul>
          <ul class="branch-office-hours-weekend list">
            <li class="day">Saturday - Sunday</li>
            <li class="time">08:00 AM - 16:00 PM</li>
          </ul>
        </div>
        <ul class="branch-office-contacts list">
          <li>+61(0) 383 766 284</li>
          <li>noreply@envato.com</li>
        </ul>
      </li>
    </ul>

    <div class="button-container">
      <a href="" class="button locations">
        Our Locations
        <svg class="btn-icon" width="7" height="9">
          <use href="./images/symbol-defs.svg#icon-right-arrow"></use>
        </svg>
      </a>

      <a href="" class="button franchise">
        Franchise
        <svg class="btn-icon" width="7" height="9">
          <use href="./images/symbol-defs.svg#icon-right-arrow"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
