<!DOCTYPE html>

<section class="products section">
  <div class="container">
    <h3 class="secondary-title">100% natural</h3>
    <h2 class="title">products</h2>
    <ul class="products list flexbox">
      <li class="product-card item">
        <img
          class="product-img"
          src="./images/home_pic1@1x.png"
          alt="ice-cream"
        />
        <div class="wrapper">
          <h4 class="product-title">Ice cream</h4>
          <svg class="svg-dots">
            <use href="./images/symbol-defs.svg#svg-mindots"></use>
          </svg>
          <p class="products-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <a class="products-button" href=""
            ><img
              class="arrow-img"
              src="./images/arrow_right@1x.png"
              alt="next"
          /></a>
        </div>
      </li>

      <li class="product-card">
        <img
          class="product-img"
          src="./images/home_pic2@1x.png"
          alt="ice-coffee"
        />
        <div class="wrapper">
          <h4 class="product-title">Ice coffee</h4>
          <svg class="svg-dots">
            <use href="./images/symbol-defs.svg#svg-mindots"></use>
          </svg>
          <p class="products-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <a class="products-button" href=""
            ><img
              class="arrow-img"
              src="./images/arrow_right@1x.png"
              alt="next"
          /></a>
        </div>
      </li>

      <li class="product-card">
        <img
          class="product-img"
          src="./images/home_pic3@1x.png"
          alt="milkshake"
        />
        <div class="wrapper">
          <h4 class="product-title">Milkshakes</h4>
          <svg class="svg-dots">
            <use href="./images/symbol-defs.svg#svg-mindots"></use>
          </svg>
          <p class="products-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <a class="products-button" href=""
            ><img
              class="arrow-img"
              src="./images/arrow_right@1x.png"
              alt="next"
          /></a>
        </div>
      </li>
    </ul>
  </div>
</section>
