<!DOCTYPE html>

<section class="products section">
  <h3 class="">100% natural</h3>
  <h2 class="">products</h2>
  <ul class="products list">
    <li class="product-card item">
      <picture class="product-pic">
        <source
          srcset="./images/home_pic1@1x.png, ./images/home_pic1@2x.png"
          media="(min-width: 320px)"
        />

        <img src="./images/home_pic1@1x.png" alt="ice-cream" />
      </picture>
      <h4 class="product-title">Ice cream</h4>
      <svg class="svg-dots">
        <use href="./images/symbol-defs.svg#svg-dots"></use>
      </svg>
      <p class="products-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <a class="products-button" href=""></a>
    </li>

    <li class="product-card">
      <picture class="product-pic">
        <source
          srcset="./images/home_pic2@1x.png, ./images/home_pic2@2x.png"
          media="(min-width: 320px)"
        />

        <img src="./images/home_pic2@1x.png" alt="ice-coffee" />
      </picture>
      <h4 class="product-title">Ice coffee</h4>
      <svg class="svg-dots">
        <use href="./images/symbol-defs.svg#svg-dots"></use>
      </svg>
      <p class="products-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <a class="products-button" href=""></a>
    </li>

    <li class="product-card">
      <picture class="product-pic">
        <source
          srcset="./images/home_pic3@1x.png, ./images/home_pic3@2x.png"
          media="(min-width: 320px)"
        />

        <img src="./images/home_pic3@1x.png" alt="milkshake" />
      </picture>

      <h4 class="product-title">Milkshakes</h4>
      <svg class="svg-dots">
        <use href="./images/symbol-defs.svg#svg-dots"></use>
      </svg>
      <p class="products-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <a class="products-button" href=""></a>
    </li>
  </ul>
</section>
