<section class="products section">
  <h3 class="">100% natural</h3>
  <h2 class="">products</h2>
  <ul class="products list">
    <li class="product-card item">
      <picture class="product-pic">
        <source
          srcset="./images/desktop/ 1x, ./images/desktop/ 2x"
          media="(min-width: 1200px)"
        />

        <source
          srcset="./images/tablet/ 1x, ./images/tablet/ 2x"
          media="(min-width: 768px)"
        />

        <source
          srcset="./images/mobile/.jpg 1x, ./images/mobile/@2x.jpg 2x"
          media="(max-width: 767px)"
        />

        <img src="./images/desktop/.jpg" alt="ice-cream" />
      </picture>
      <h4 class="product-title">Ice cream</h4>
      <img src="" alt="" />
      <p class="products-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <a class="products-button" href=""></a>
    </li>
    <ul class="products-list">
        <li class="product-card">
            <picture class="product-pic">
                <source srcset="
                            ./images/desktop/    1x,
                            ./images/desktop/ 2x
                          " media="(min-width: 1200px)" />
    
                <source srcset="
                            ./images/tablet/   1x,
                            ./images/tablet/ 2x
                          " media="(min-width: 768px)" />
    
                <source srcset="
                            ./images/mobile/.jpg    1x,
                            ./images/mobile/@2x.jpg 2x
                          " media="(max-width: 767px)" />
    
                <img src="./images/desktop/.jpg" alt="ice-cream" />
            </picture>
            <h4 class="product-title">Ice coffee</h4>
            <img src="" alt="" />
            <p class="products-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et
            </p>
            <a class="products-button" href=""></a>
        </li>
        <ul class="products-list">
            <li class="product-card">
                <picture class="product-pic">
                    <source srcset="
                                ./images/desktop/    1x,
                                ./images/desktop/ 2x
                              " media="(min-width: 1200px)" />
        
                    <source srcset="
                                ./images/tablet/   1x,
                                ./images/tablet/ 2x
                              " media="(min-width: 768px)" />
        
                    <source srcset="
                                ./images/mobile/.jpg    1x,
                                ./images/mobile/@2x.jpg 2x
                              " media="(max-width: 767px)" />
        
                    <img src="./images/desktop/.jpg" alt="ice-cream" />
                </picture>
                <h4 class="product-title">Milkshakes</h4>
                <img src="" alt="" />
                <p class="products-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et
                </p>
                <a class="products-button" href=""></a>
            </li>
  </ul>
</section>
