.how-made-caption {
    font-family: $font-family-accent;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 1.16;
text-align: center;
text-transform: uppercase;
color:$color-pink;
}
