.institution {
  margin: 0 auto;
  background-color: $background-section;
  @media screen and(min-width: 768px) {
    display: flex;
    margin: 0;
  }
  @media screen and(min-width: 1200px) {
    margin: 0 auto;
    background-image: url(../images/sectionbg3@1x.png);
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    @media screen and (min-device-pixel-ratio: 2),
      screen and(min-resolution: 192dpi),
      screen and(min-resolution: 2dppx) {
      background-image: url(../images/sectionbg3@2x.png);
    }
  }
}
.branch {
  display: block;
  transform: translateY(-7%);
  margin: 0;

  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    transform: translateY(-14%);
  }
  @media screen and(min-width: 1200px) {
    transform: translateY(-18%);
  }
}
.branch-office {
  margin: 0 auto;
  background-color: $background-button-white;
  width: 100%;
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  padding: 43px 20px;

  font-weight: 500;
  font-size: 11px;
  line-height: 1.3;
  color: $color-text-grey;

  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0px;
  }

  @media screen and(max-width: 767px) {
    max-width: 220px;
  }
  @media screen and(min-width: 768px) {
    margin-bottom: 0;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  @media screen and(min-width: 768px) and(max-width: 1199px) {
    width: calc((100% - 2 * 20px) / 3);
    padding: 50px 30px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.04em;
  }
  @media screen and(min-width: 1200px) {
    width: calc((100% - 2 * 30px) / 3);
    padding: 50px 44px 60px 44px;
    font-size: 16px;
    line-height: 1.8;
  }
}
.branch-office-title {
  margin: 0;
  color: $background-button-white;
  font-size: 12px;
  line-height: 1, 9;
  text-transform: uppercase;

  @media screen and(min-width: 768px) {
    font-size: 16px;
    line-height: 1, 9;
  }
}
.branch-office-type {
  margin: 0;
  padding: 5px 30px;
  margin: 0;
  background-color: #f0d1a5;
  border-radius: 4px;

  width: max-content;
  margin-bottom: 20px;

  @media screen and(min-width: 768px) {
    border-radius: 6px;
    margin-bottom: 30px;
    padding: 5px 20px;
  }
}
.foodtruck {
  background-color: #c2e297;
}
.city {
  margin: 0;
  color: $color-black;
  margin-bottom: 10px;
  line-height: 1.9;
  @media screen and(min-width: 768px) {
    margin-bottom: 14px;
  }
}
.text {
  position: relative;
  margin: 0;
  margin-bottom: 25px;

  @media screen and(min-width: 768px) {
    margin-bottom: 30px;
  }
  @media screen and(min-width: 1200px) {
    margin-bottom: 32px;
  }
}

.working-day {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  line-height: 1.9;

  @media screen and(min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  @media screen and(min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 32px;
  }

  .branch-office-hours-weekend {
    margin-top: 10px;
    @media screen and(min-width: 768px) {
      margin-top: 16px;
    }
  }
  .day {
    color: $color-black;
  }
  .time {
    color: $color-pink;
  }
}

.button-container {
  padding-bottom: 70px;
  @media screen and(min-width: 768px) {
    display: flex;
    justify-content: center;
    padding-bottom: 61px;
  }
  @media screen and(min-width: 1200px) {
    padding-bottom: 68px;
  }
}
.button {
  display: block;
  margin: 0 auto;
  width: 162px;
  border-radius: 22px;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  transition: $transition;
  padding: 14px 17px;
  &.locations {
    background-color: $color-accent;
    color: $background-button-white;
    fill: $background-button-white;
    margin-bottom: 10px;
    @media screen and(min-width: 768px) {
      margin: 0;
      width: 191px;
      margin-right: 15px;
    }
    @media screen and(min-width: 1200px) {
      width: 198px;
      margin-right: 15px;
    }
  }
  &.franchise {
    color: $color-accent;
    fill: $color-accent;
    background-color: $background-button-white;
    @media screen and(min-width: 768px) {
      margin: 0;
      width: 174px;
    }
    @media screen and(min-width: 1200px) {
      width: 180px;
    }
  }
  & .btn-icon {
    vertical-align: middle;
    align-items: center;
    @media screen and(min-width: 768px) {
      margin-left: 12px;
    }
  }
}
.franchise {
  &:hover {
    background-color: #ecebeb;
  }
}
