.page-footer {
  background-color: $background-section;
  padding-top: 43px;
  padding-bottom: 25px;
}
.footer-small-title {
  margin-top: 0;
  margin-bottom: 17px;
  font-family: $font-family-accent;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: $color-pink;
}
.footer-big-title {
  margin-top: 0;
  margin-bottom: 46px;
  margin-right: 80px;
  font-family: $font-family-accent;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-accent;
}
.footer-social-links-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 46px;
}
.footer-social-links-list
  .footer-social-links-item
  + .footer-social-links-item {
  margin-left: 28px;
}
.footer-social-links-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #fea5bb;
  fill: #ffffff;
  transition: background-color 250ms $transition;
  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}
.footer-phone-text {
  margin-top: 0;
  margin-bottom: 43px;
  font-family: $font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.86;
  /* or 22px */
  text-align: right;
  color: $color-black;
}
.footer-phone-link {
  text-decoration: none;
  color: $color-accent;
  transition: color 250ms $transition;
  &:hover,
  &:focus {
    color: $color-pink;
  }
}
.footer-copyright {
  border-top: 1px solid #e1e1e1;
  padding-top: 22px;
  padding-left: 79px;
  padding-right: 91px;
}
.footer-copyright-text {
  margin: 0;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.52;
  /* or 21px */
  text-align: center;
  color: $color-text-grey;
}
