.page-footer {
  background-color: $background-section;
  padding-top: 43px;
  padding-bottom: 43px;
}
.footer-small-title {
  margin-top: 0;
  margin-bottom: 17px;
  //margin-right: 46px;
  font-family: $font-family-accent;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: $color-pink;
}
.footer-big-title {
  font-family: $font-family-accent;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-accent;
}
.footer-phone-text {
  font-family: $font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.86;
  /* or 22px */
  text-align: right;
  color: $color-black;
}
.footer-phone-link {
  text-decoration: none;
  color: $color-accent;
}
.footer-copyright {
  border-top: 1px solid #e1e1e1;
  padding-top: 22px;
  padding-bottom: 25px;
  padding-left: 79px;
  padding-right: 91px;
}
.footer-copyright-text {
  margin: 0;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.52;
  /* or 21px */
  text-align: center;
  color: $color-text-grey;
}
